:root {
  --primary-color: #ffffff;
  --shade-blue-box: #203271;
  --shade-blue-font: #101c45;
  --back-font: #000000;
  --Green-box: #9beae0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "DM Sans", "Sans Code Pro", sans-serif;
  background-color: var(--primary-color);
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  font-family: "Source Sans 3";
}

.navbar .logo {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
  }
}

.navbar .navbar-nav a {
  display: inline-block;
  margin-right: 3.125rem;
  color: rgba(0, 0, 0, 80%);
  font-weight: 400;
  font-size: 16px;
}

.navbar .navbar-nav a:hover {
  color: var(--shade-blue-font);
}

.navbar .navbar-extra {
  display: flex;
  top: 100%;
}

.navbar .navbar-extra a {
  margin-right: 15px;
  color: var(--shade-blue-font);
  font-size: 16px;
  font-weight: 700;
}

.navbar .navbar-extra .book-now {
  width: 117px;
  height: 30px;
  a {
    padding: 30px 5px 5px 20px;
  }
  border: 1px solid var(--shade-blue-box);
}

/* Main Section */
.frame1 {
  margin-top: 90px;
  width: 500px;
  padding-left: 5rem;
  display: grid;
  align-items: center;
  h1 {
    font-size: 48px;
    font-weight: 500;
    color: var(--shade-blue-font);
    padding-bottom: 16px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: var(--shade-blue-font);
    padding-bottom: 16px;
  }
  .book {
    width: 235px;
    height: 60px;
    background-color: var(--shade-blue-box);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    font-family: "Source Sans 3";
  }
}

.Caption {
  position: absolute;
  top: 180px;
  left: 700px;
  padding: 10px;
  width: 292px;
  height: 182px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 12px;
  font-weight: 400;
  color: var(--shade-blue-font);
  .profil {
    display: grid;
    grid-template-columns: 40px 50px;
    color: #000000;
    font-family: "Source Sans 3";
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }
}
